* {
  box-sizing: border-box;
  font-family: 'Saira Semi Condensed', sans-serif;
}

body {
  box-sizing: border-box;
  background-color: grey;
  font-family: 'Saira Semi Condensed', sans-serif;
  line-height: inherit;
}

img {
  width: 420px;
}

.title {
  display: inline-block;
  width: 50%;
  height: 40px;
}

.arrowLeft {
  display: inline-block;
  float: left;
  padding-left: 10px;
  width: 6.5%;
  color: #499CCB;
  margin-top: 1px;
}

.backArrow {
  display: inline-block;
  float: left;
  width: 20%;
}

.container {
  margin: 0px auto;
  width: 420px;
}

.upcoming {
  font-size: 16px;
  color: #777777;
  background-color: white;
  position: fixed;
  width: 420px;
  height: 30px;
  padding-left: 3px;
  border-width: 1px;
  border-top: 1px solid #F5F2F2;
  border-bottom: 1px solid #F5F2F2;
  padding-left: 10px;
}

.location {
  top: 93px;
  width: 420px;
  border-width: 1px;
  border-top: 1px solid #F8F8F8;
  background-color: white;
}

.rightSide {
  margin-top: 8px;
  float: right;
}

.header {
  position: fixed;
  width: 420px;
  background-color: #F8F8F8;
  border-bottom: 1px solid #F8F8F8;
}

.busList {
  padding-top: 92px;
  background-color: #F5F2F2;
  display: inline-block;
  width: 420px;
}

.content {
  display: inline-block;
  width: 70%;
  padding: 0px 0px 0px 10px;
}

.time {
  display: inline-block;
  padding: 15px 6px 1px 0px;
}

.arrow {
  color: #8FB89F;
  display: inline-block;
  float: right;
  padding: 22px 10px 1px 1px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
}

h2 {
  text-align: center;
  font-size: 17px;
  color: black;
}

h3 {
  font-size: 14px;
  color: #8FB89F;
}

h4 {
  font-size: 17px;
  color: #499CCB;
  padding-bottom: 10px;
}

h5 {
  font-size: 23px;
  color: black;
  text-align: right;
}
